*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}
body {
  font-family: 'Source Sans 3', sans-serif;
  color: #071629;
}
.content{
    width: 100%;
    max-width: 1000px;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
}
.content2{
    width: 100%;
    max-width: 630px;
    margin: 0 auto;
    text-align: center;
}
.content3{
    width: 100%;
    max-width: 330px;
    margin: 0 auto;
}
header{
    background: url(./images/headphones_hero_1.jpg) no-repeat center center/cover;
  position: relative;
}
.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
 .logo img {
    width: 200px;
    margin: 20px 0;
    }
.icon{
    display: none;
}
.links ul{
    display: flex;
}
.links ul li{
    list-style: none;
    padding: 0 20px;
}
.links ul li a{
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    color: #ffffff;
}
.links ul li a:hover{
    color: #e74c3c; 
    transform: scale(1.05);
    text-decoration: none;
}
header .content2{
    color: #ffffff;
    padding-top: 200px;
    padding-bottom: 50px;
}
h3{
    font-size: 30px;
    font-weight: bold;
}

p{
    font-size: 16px;
    line-height: 26px;
}
.btn{
    padding-top: 40px;
    padding-bottom: 60px;
}
.btn a {
    font-size: 14px;
    font-weight: bold;
    background: #FF6565;
    color: #ffffff;
    border: none;
    border-radius: 50px;
    padding: 14px 32px;
    text-decoration: none;
    transition: background 0.3s ease, transform 0.2s ease;
}

.btn a:hover {
    background: #e74c3c; 
    color: #fff;
    transform: scale(1.05);
    text-decoration: none;
}


@media screen and (max-width: 760px){
    .logo img {
    width: 150px;
    margin: 20px 0;
    }
  .content{
    max-width: 800px;
}
.content2{
    max-width: 500px;
}

}
@media screen and (max-width: 500px) {
    .content{
    max-width: 400px;
}
.content2{
    max-width: 400px;
}
.content3{
    max-width: 300px;
}
  
  .links ul {
    flex-direction: column;
    padding: 0;
    display: none; 
    width: 100%;
  }

  .links ul li {
    padding: 15px 0;
  }

  .icon {
    display: block;
    cursor: pointer;
    margin: 20px;
  }


  .links.active ul {
    display: flex;
  }

  .btn a {
    padding: 12px 24px;
    font-size: 13px;
  }
}


/* * {
    margin: 0px;
    padding: 0px;
  }
  
  @font-face {
    font-family: "MyFont";
    src: url(https://www.fontsquirrel.com/fonts/source-sans-pro);
  }

  .hero-section {
    background-image: url(images/headphones_hero_1.jpg);
    height: 800px;
  }

  header {
    display: flex;
    justify-content: space-between;
  } */