.contact-section {
    background: #fff;
    padding: 80px 20px;
    text-align: center;
  }
  
  form input,
  form textarea {
    width: 100%;
    border: none;
    border-bottom: 1px solid #ccc;
    margin: 20px 0;
    padding: 10px 5px;
    font-size: 16px;
    background: transparent;
    outline: none;
  }
  
   form textarea {
    height: 30px;
    resize: none;
  }