* {
    margin: 0px;
    padding: 0px;
  }
  
  @font-face {
    font-family: "MyFont";
    src: url(https://www.fontsquirrel.com/fonts/source-sans-pro);
  }
  
  body {
    width: 100%;
    height: 3624px;
    top: -0px;
    margin-left: -0px;
    color: #ffffff;
  }
  
  header {
    width: 1103.41px;
    height: 40px;
    top: 35.02px;
    margin-left: 171.59px;
    display: flex;
  }
  
  nav {
    display: flex;
    flex-direction: column;
  }
  
  header nav img {
    width: 167.02px;
    height: 29px;
    margin-top: 40px;
    margin-left: 5px;
  }
  
  header nav div {
    width: 234px;
    height: 15px;
    /* margin-top: 0px; */
    margin-left: 900px;
    text-decoration: none;
    display: flex;
  }
  
  header nav div a {
    font-family: "MyFont", sans-serif;
    text-decoration: none;
    list-style: none;
    margin-right: 10px;
    color: #ffffff;
  }
  
  nav a {
    font-family: "MyFont", sans-serif;
    font-weight: 700;
    font-size: 12px;
    line-height: 15.08px;
  }
  
  nav a:hover {
    color: #c271ff;
    text-decoration: underline;
    transition: 0.25s;
  }
  
  .nav-links {
    margin-top: -20px;
  }
  
  .nav_link1 {
    width: 50px;
    height: 15px;
  }
  
  .nav_link2 {
    width: 45px;
    height: 15px;
    margin-left: 50px;
  }
  
  .nav_link3 {
    width: 34px;
    height: 15px;
    margin-left: 50px;
  }
  
  /* main section */
  .main_body {
    width: 100%;
    height: 1093px;
    background-image: url(images/Object.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
  }
  
  .register-section {
    width: 700px;
    height: 220px;
    margin-top: 220px;
    margin-left: 377px;
  }
  
  .main_body div h1 {
    font-family: " myFont";
    font-weight: 700;
    font-size: 122.84px;
    line-height: 150px;
    text-align: center;
  }
  
  .span-1 {
    width: 52px;
    height: 20px;
    margin-top: 361px;
    margin-left: 230px;
    font-family: myFont;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #ffffff;
  }
  
  .span-2 {
    width: 36px;
    height: 20px;
    margin-top: 361px;
    margin-left: 60px;
    font-family: myFont;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #ffffff;
  }
  
  .span-3 {
    width: 49px;
    height: 20px;
    margin-top: 361px;
    margin-left: 60px;
    font-family: myFont;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #ffffff;
  }
  
  .main_body div button {
    width: 162px;
    height: 44px;
    margin-top: 25px;
    margin-left: 292px;
    border-radius: 22px;
    background-color: #c271ff;
    color: #ffffff;
    text-align: center;
    border: none;
  }
  .Register-btn {
    width: 150px;
    height: 18px;
    margin-top: 4px;
    margin-left: 3px;
    font-family: " MyFont ", sans-serif;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
  }
  
  button:hover {
    cursor: pointer;
    background-color: #9c31ed;
    transition: 0.25s;
  }
  /* main section 2 */
  
  .main_body section div h2 {
    width: 290px;
    height: 40px;
    margin-top: 200px;
    margin-left: 604px;
    font-family: myFont;
    font-weight: 700;
    font-size: 32px;
    line-height: 40.22px;
    text-align: center;
  }
  .main_body section div h2 span {
    font-weight: 700;
    font-size: 32px;
    line-height: 40.22px;
    color: #c271ff;
    text-align: center;
  }

    /* Pros section edit */
  
    .Pros-section {
        width: 1009px;
        height: 193px;
        margin-left: 280px;
        margin-top: 70px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }
      
      section div h3 {
        width: 150px;
        height: 27px;
        margin-top: 5px;
        font-family: Myfont;
        font-weight: 900;
        font-size: 18px;
        line-height: 27px;
        text-align: center;
        color: #ffffff;
      }
      
      section div p {
        width: 150px;
        height: 48px;
        margin-top: 5px;
        font-family: Myfont;
        font-weight: 400;
        font-size: 16px;
        font-style: italic;
        line-height: 24px;
        text-align: center;
      }
      
      .pro-3 img {
        border-radius: 50%;
      }
      
      /* Testimonial section */
  
  .testimonial-section {
    width: 100%;
    height: 392px;
    margin-left: 0px;
    margin-top: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #c271ff;
    color: #ffffff;
  }
  
  .testimonial-div {
    width: 943px;
    height: 120px;
    margin-left: 100px;
    text-align: left;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .testimonial {
    margin-top: 50px;
    margin-left: 40px;
    word-spacing: 3px;
    line-height: 24px;
    text-align: left;
  }
  
  .testimonial h3 {
    margin-top: 20px;
    text-align: left;
    justify-content: baseline;
  }
  
  .testimonial p {
    text-align: left;
  }
  .tutorials {
    width: 1228px;
    height: 310px;
    margin-left: 140px;
    margin-top: 40px;
    /* display: flex; */
    /* background-color: rgb(77, 75, 75); */
    /* color: black; */
    /* flex-direction: row; */
  }
  
  .video-cards {
    display: flex;
    flex-direction: row;
  }
  
  .tutorial-div-1 {
    width: 245px;
    height: 320px;
    margin-top: 90px;
    /* margin-right: 2px; */
    margin-left: 45px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    color: #ffffff;
  }
  
  .tut-img {
    width: 255px;
    height: 154px;
    position: relative;
  }
  
  .play-icon-1 {
    width: 62px;
    height: 62px;
    position: absolute;
    top: 1680px;
    left: 280px;
    background-color: #ffffff;
    border-radius: 50%;
  }
  .play-icon-2 {
    width: 62px;
    height: 62px;
    position: absolute;
    top: 1680px;
    left: 565px;
    background-color: #ffffff;
    border-radius: 50%;
  }
  .play-icon-3 {
    width: 62px;
    height: 62px;
    position: absolute;
    top: 1680px;
    left: 870px;
    background-color: #ffffff;
    border-radius: 50%;
  }
  .play-icon-4 {
    width: 62px;
    height: 62px;
    position: absolute;
    top: 1680px;
    left: 1155px;
    background-color: #ffffff;
    border-radius: 50%;
  }
  
  .pros-1 {
    width: 30px;
    height: 30px;
    margin-top: 10px;
    margin-left: 13px;
  }
  
  .tutorial-heading {
    width: 320px;
    height: 20px;
    margin-top: 10px;
    margin-left: 482px;
    font-family: "MyFonts", sans-serif;
    font-weight: 300;
    font-size: 32px;
    line-height: 40.22px;
    color: #071629;
  }
  
  .tutorial-div-1 h3 {
    width: 115px;
    height: 20px;
    margin-top: 20px;
    margin-left: 13px;
    font-family: "MyFonts", sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 20.11px;
    color: #071629;
  }
  
  .video-cards-text {
    width: 242px;
    height: 48px;
    left: 13px;
    font-family: "MyFonts", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #07162980;
  }
  
  h4 {
    width: 120px;
    height: 27px;
    margin-top: -33px;
    margin-left: 55px;
    font-family: "MyFonts", sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 27px;
    color: #c271ff;
  }
  
  .video-cards-ratings {
    width: 115px;
    height: 15px;
    margin-top: 20px;
    margin-left: 13px;
  }
  
  .video-cards-time {
    width: 60px;
    height: 27px;
    margin-top: -20px;
    margin-left: 199px;
    font-family: "MyFonts", sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 27px;
    align-items: right;
    color: #c271ff;
  }
  
  /* MEMBERSHIP SECTION */
  .membership-section {
    width: 100%;
    height: 502px;
    /* margin-top: 20px; */
    background-color: #071629;
  }
  .membership-section h2 {
    width: 350px;
    height: 40px;
    padding-top: 40px;
    margin-left: 600px;
    font-family: "MyFonts", sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 40.22px;
  }
  
  .membership-span {
    font-family: "MyFonts", sans-serif;
    font-weight: 300;
    font-size: 32px;
    line-height: 40.22px;
    color: #ffffff;
  }
  
  .membership-div {
    width: 1100px;
    margin-top: 80px;
    margin-left: 200px;
    display: flex;
    justify-content: center;
    /* border: 2px solid #ffffff; */
  }
  
  .btn {
    width: 162px;
    height: 44px;
    margin-top: 75px;
    margin-left: 670px;
    border-radius: 22px;
    background-color: #c271ff;
    color: #ffffff;
    text-align: center;
    border: none;
  }
  
  .membership-card {
    width: 270px;
    height: 153px;
    /* border: 2px solid #ffffff; */
  }
  
  .membership-card img {
    width: 44px;
    height: 35.35px;
    margin-left: 107px;
  }
  
  .membership-card h3 {
    width: 260px;
    height: 26px;
    margin-left: 0.5px;
    color: #ffffff;
    font-family: "MyFonts", sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 26px;
  }
  
  .membership-card p {
    width: 226px;
    height: 52px;
    margin-left: 18px;
    color: #ffffff;
    font-family: "MyFonts", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
  }
  
  /* F.A.Q SECTION */
  
  .faq-section {
    width: 920px;
    height: 675px;
    margin-top: 70px;
    justify-self: center;
    /* margin-left: 250px; */
    /* background-color: #98a9c0; */
    border: 2px solid #ffffff;
  }
  
  .faq-heading {
    width: 10px;
    height: 20px;
    margin-top: -200px;
    margin-left: -300px;
    font-family: "MyFonts", sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 26.42px;
    color: #071629;
  }
  
  .faq-body {
    width: 100%;
    height: 633px;
    margin-top: 20px;
  }
  
  .q-body p {
    width: 350px;
    height: 192px;
    margin-top: 10px;
    text-align: left;
    font-family: "MyFonts", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #071629;
  }
  
  .faq-body h3 {
    width: 200px;
    height: 20px;
    text-align: left;
    font-family: "MyFonts", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 20.11px;
    color: #071629;
  }
  
  .faq-1 {
    width: 350px;
    height: 242px;
    margin-top: 80px;
  }
  .faq-2 {
    width: 350px;
    height: 242px;
    margin-top: -250px;
    margin-left: 570px;
  }
  .faq-3 {
    width: 350px;
    height: 242px;
    margin-top: 60px;
  }
  
  .faq-4 {
    width: 350px;
    height: 242px;
    margin-top: -240px;
    margin-left: 570px;
  }
  
  /* FOOTER SECTION */
  .footer-container {
    width: 100%;
    height: 250px;
    margin-top: 2280px;
    background-color: #071629;
  }
  
  .footer-container section {
    display: flex;
  }
  
  .footer-logo {
    width: 175px;
    height: 30px;
    margin-top: 100px;
    margin-left: 165px;
  }
  
  .social-icons {
    width: 140px;
    height: 30px;
    margin-top: 100px;
    margin-left: 780px;
  }
  
  .footer-container p {
    width: 120px;
    height: 15px;
    margin-top: 70px;
    margin-left: 680px;
    opacity: 35.17%;
    font-family: "MyFonts", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #ffffff;
  }