* {
    margin: 0px;
    padding: 0px;
  }
  
  @font-face {
    font-family: "MyFont";
    src: url(https://www.fontsquirrel.com/fonts/source-sans-pro);
  }
  
  body {
    width: 100%;
    height: 3624px;
    top: -0px;
    margin-left: -0px;
    color: #ffffff;
  }
  
  header {
    width: 1103.41px;
    height: 40px;
    top: 35.02px;
    margin-left: 171.59px;
    display: flex;
  }
  
  nav {
    display: flex;
    flex-direction: column;
  }
  
  header nav img {
    width: 167.02px;
    height: 29px;
    margin-top: 40px;
    margin-left: 5px;
  }
  
  header nav div {
    width: 234px;
    height: 15px;
    /* margin-top: 0px; */
    margin-left: 900px;
    text-decoration: none;
    display: flex;
  }
  
  header nav div a {
    font-family: "MyFont", sans-serif;
    text-decoration: none;
    list-style: none;
    margin-right: 10px;
    color: #ffffff;
  }
  
  nav a {
    font-family: "MyFont", sans-serif;
    font-weight: 700;
    font-size: 12px;
    line-height: 15.08px;
  }
  
  nav a:hover {
    color: #c271ff;
    text-decoration: underline;
    transition: 0.25s;
  }
  
  .nav-links {
    margin-top: -20px;
  }
  
  .nav_link1 {
    width: 50px;
    height: 15px;
  }
  
  .nav_link2 {
    width: 45px;
    height: 15px;
    margin-left: 50px;
  }
  
  .nav_link3 {
    width: 34px;
    height: 15px;
    margin-left: 50px;
  }
  
  /* main section */
  .main_body {
    width: 100%;
    height: 1093px;
    background-image: url(images/Object.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
  }
  
  .register-section {
    width: 700px;
    height: 220px;
    margin-top: 220px;
    margin-left: 377px;
  }
  
  .main_body div h1 {
    font-family: " myFont";
    font-weight: 700;
    font-size: 122.84px;
    line-height: 150px;
    text-align: center;
  }
  
  .span-1 {
    width: 52px;
    height: 20px;
    margin-top: 361px;
    margin-left: 230px;
    font-family: myFont;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #ffffff;
  }
  
  .span-2 {
    width: 36px;
    height: 20px;
    margin-top: 361px;
    margin-left: 60px;
    font-family: myFont;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #ffffff;
  }
  
  .span-3 {
    width: 49px;
    height: 20px;
    margin-top: 361px;
    margin-left: 60px;
    font-family: myFont;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #ffffff;
  }
  
  .main_body div button {
    width: 162px;
    height: 44px;
    margin-top: 25px;
    margin-left: 292px;
    border-radius: 22px;
    background-color: #c271ff;
    color: #ffffff;
    text-align: center;
    border: none;
  }
  .Register-btn {
    width: 150px;
    height: 18px;
    margin-top: 4px;
    margin-left: 3px;
    font-family: " MyFont ", sans-serif;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
  }
  
  button:hover {
    cursor: pointer;
    background-color: #9c31ed;
    transition: 0.25s;
  }
  /* main section 2 */
  
  .main_body section div h2 {
    width: 290px;
    height: 40px;
    margin-top: 200px;
    margin-left: 604px;
    font-family: myFont;
    font-weight: 700;
    font-size: 32px;
    line-height: 40.22px;
    text-align: center;
  }
  .main_body section div h2 span {
    font-weight: 700;
    font-size: 32px;
    line-height: 40.22px;
    color: #c271ff;
    text-align: center;
  }

    /* Pros section edit */
  
    .Pros-section {
        width: 1009px;
        height: 193px;
        margin-left: 280px;
        margin-top: 70px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }
      
      section div h3 {
        width: 150px;
        height: 27px;
        margin-top: 5px;
        font-family: Myfont;
        font-weight: 900;
        font-size: 18px;
        line-height: 27px;
        text-align: center;
        color: #ffffff;
      }
      
      section div p {
        width: 150px;
        height: 48px;
        margin-top: 5px;
        font-family: Myfont;
        font-weight: 400;
        font-size: 16px;
        font-style: italic;
        line-height: 24px;
        text-align: center;
      }
      
      .pro-3 img {
        border-radius: 50%;
      }
      